<div class="card bg-base-100 border border-base-300 shadow-sm">
  <div class="overflow-x-auto p-4">
    <table class="table w-full">
      <thead>
        <tr class="text-base-content/50">
          <th class="w-1/4">Endpoint</th> <!-- 25% width -->
          <th class="w-1/6">Status</th> <!-- Fixed width -->
          <th class="w-1/6">Latency</th> <!-- Fixed width -->
          <th class="w-1/4">Timestamp</th> <!-- 25% width -->
          <th>Error</th> <!-- Takes remaining space -->
        </tr>
      </thead>
      <!-- Ensure the ID is exactly on the TBODY -->
      <tbody id="log-table-body">
        {% include 'monitors/partials/log_table_body.html' %}
      </tbody>
    </table>
  </div>
</div>
