{% include T.MONITORS.PARTIALS.STATS %}

<!-- 2. The Table Section -->
<div class="card bg-base-100 border border-base-300 shadow-sm mt-8">
  <div class="p-6 pb-0">
    <h2 class="text-xl font-bold">Monitors Overview</h2>
  </div>
  <div class="overflow-x-auto p-4">
    <table class="table w-full">
      <thead>
        <tr class="text-base-content/50">
          <th>Name & URL</th>
          <th>Expected</th>
          <th>Status</th>
          <th>Last Checked</th>
          <th class="text-right">Actions</th>
        </tr>
      </thead>
      <tbody id="endpoint-table-body">
        {% include T.MONITORS.PARTIALS.ENDPOINTS.LIST with object_list=endpoints %}
      </tbody>
    </table>
  </div>
</div>
